<a href="https://colab.research.google.com/github/thesshabo/dap-2024/blob/main/les04%20/lab4%20%D0%AF%D0%BA%D0%BE%D0%B2%D0%BB%D0%B5%D0%B2%20%D0%90.%20%D0%A1.%2012002309.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Лабораторная работа №4.
# Анализ данных пассажиров "Титаника"

Гибель Титаника – одно из самых печально известных кораблекрушений в истории.

15 апреля 1912 года во время своего первого плавания считавшийся «непотопляемым» «Титаник» затонул после столкновения с айсбергом.
К сожалению, спасательных шлюпок для всех находившихся на борту не хватило, в результате чего погибли 1502 из 2224 пассажиров и членов экипажа.

Используя набор данных titanic.csv выполните следующие 10 заданий.

In [ ]:
import numpy as np
import pandas as pd

1. Создайте DataFarame из файла titanic.csv, в качестве индекса используйте столбец "PassengerId"

In [ ]:
import numpy as np
import pandas as pd
passengers = pd.read_csv("titanic.csv", index_col="PassengerId")
print(passengers)

             Survived  Pclass  \
PassengerId
1                   0       3
2                   1       1
3                   1       3
4                   1       1
5                   0       3
...               ...     ...
887                 0       2
888                 1       1
889                 0       3
890                 1       1
891                 0       3

                                                          Name     Sex   Age  \
PassengerId
1                                      Braund, Mr. Owen Harris    male  22.0
2            Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0
3                                       Heikkinen, Miss. Laina  female  26.0
4                 Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0
5                                     Allen, Mr. William Henry    male  35.0
...                                                        ...     ...   ...
887                                      Montvila, Rev. Juozas    male  27.0
888                               Graham, Miss. Margaret Edith  female  19.0
889                   Johnston, Miss. Catherine Helen "Carrie"  female   NaN
890                                      Behr, Mr. Karl Howell    male  26.0
891                                        Dooley, Mr. Patrick    male  32.0

             SibSp  Parch            Ticket     Fare Cabin Embarked
PassengerId
1                1      0         A/5 21171   7.2500   NaN        S
2                1      0          PC 17599  71.2833   C85        C
3                0      0  STON/O2. 3101282   7.9250   NaN        S
4                1      0            113803  53.1000  C123        S
5                0      0            373450   8.0500   NaN        S
...            ...    ...               ...      ...   ...      ...
887              0      0            211536  13.0000   NaN        S
888              0      0            112053  30.0000   B42        S
889              1      2        W./C. 6607  23.4500   NaN        S
890              0      0            111369  30.0000  C148        C
891              0      0            370376   7.7500   NaN        Q

[891 rows x 11 columns]

2. Просмотрите первые 6 строк

In [ ]:
import numpy as np
import pandas as pd
passengers = pd.read_csv("titanic.csv", index_col="PassengerId")
print(passengers.iloc[0:6])

             Survived  Pclass  \
PassengerId
1                   0       3
2                   1       1
3                   1       3
4                   1       1
5                   0       3
6                   0       3

                                                          Name     Sex   Age  \
PassengerId
1                                      Braund, Mr. Owen Harris    male  22.0
2            Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0
3                                       Heikkinen, Miss. Laina  female  26.0
4                 Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0
5                                     Allen, Mr. William Henry    male  35.0
6                                             Moran, Mr. James    male   NaN

             SibSp  Parch            Ticket     Fare Cabin Embarked
PassengerId
1                1      0         A/5 21171   7.2500   NaN        S
2                1      0          PC 17599  71.2833   C85        C
3                0      0  STON/O2. 3101282   7.9250   NaN        S
4                1      0            113803  53.1000  C123        S
5                0      0            373450   8.0500   NaN        S
6                0      0            330877   8.4583   NaN        Q

3. Выведите описание данных

In [ ]:
print("Shape:", passengers.shape)
print("\nDtypes:\n", passengers.dtypes)
print("\nMissing values:\n", passengers.isna().sum())
print("\nNumeric description:\n", passengers.describe())
print("\nCategorical description:\n", passengers.describe(include=['object','category']))
print("\nTop values for 'Survived':\n", passengers['Survived'].value_counts())
print("\nSample rows:\n", passengers.head())
print("\nDuplicate rows:", passengers.duplicated().sum())

Shape: (891, 11)

Dtypes:
 Survived      int64
Pclass        int64
Name         object
Sex          object
Age         float64
SibSp         int64
Parch         int64
Ticket       object
Fare        float64
Cabin        object
Embarked     object
dtype: object

Missing values:
 Survived      0
Pclass        0
Name          0
Sex           0
Age         177
SibSp         0
Parch         0
Ticket        0
Fare          0
Cabin       687
Embarked      2
dtype: int64

Numeric description:
          Survived      Pclass         Age       SibSp       Parch        Fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

Categorical description:
                        Name   Sex  Ticket Cabin Embarked
count                   891   891     891   204      889
unique                  891     2     681   147        3
top     Dooley, Mr. Patrick  male  347082    G6        S
freq                      1   577       7     4      644

Top values for 'Survived':
 Survived
0    549
1    342
Name: count, dtype: int64

Sample rows:
              Survived  Pclass  \
PassengerId
1                   0       3
2                   1       1
3                   1       3
4                   1       1
5                   0       3

                                                          Name     Sex   Age  \
PassengerId
1                                      Braund, Mr. Owen Harris    male  22.0
2            Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0
3                                       Heikkinen, Miss. Laina  female  26.0
4                 Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0
5                                     Allen, Mr. William Henry    male  35.0

             SibSp  Parch            Ticket     Fare Cabin Embarked
PassengerId
1                1      0         A/5 21171   7.2500   NaN        S
2                1      0          PC 17599  71.2833   C85        C
3                0      0  STON/O2. 3101282   7.9250   NaN        S
4                1      0            113803  53.1000  C123        S
5                0      0            373450   8.0500   NaN        S

Duplicate rows: 0

4. Сколько мужчин / женщин находилось на борту?

In [ ]:
import numpy as np
import pandas as pd
passengers = pd.read_csv("titanic.csv", index_col="PassengerId")
print(passengers.loc[:,"Sex"].value_counts())

Sex
male      577
female    314
Name: count, dtype: int64

4. Выведите распределение переменной Pclass (социально-экономический статус) и это же распределение, только для мужчин / женщин по отдельности. Сколько было мужчин 2-го класса

In [ ]:
import numpy as np
import pandas as pd
passengers = pd.read_csv("titanic.csv", index_col="PassengerId")
print("Распределение переменной Pclass")
print(passengers.loc[:,"Pclass"].value_counts())
print("Распределение переменной Pclass только для мужчин")
print(passengers[passengers['Sex'] == 'male'].loc[:, ["Sex", "Pclass"]].value_counts())
print("Распределение переменной Pclass только для женщин")
print(passengers[passengers['Sex'] == 'female'].loc[:, ["Sex", "Pclass"]].value_counts())
print("Мужчины 2го класса")
print(passengers[(passengers['Sex'] == 'male') & (passengers['Pclass'] == 2)][['Sex', 'Pclass']].value_counts())

Распределение переменной Pclass
Pclass
3    491
1    216
2    184
Name: count, dtype: int64
Распределение переменной Pclass только для мужчин
Sex   Pclass
male  3         347
      1         122
      2         108
Name: count, dtype: int64
Распределение переменной Pclass только для женщин
Sex     Pclass
female  3         144
        1          94
        2          76
Name: count, dtype: int64
Мужчины 2го класса
Sex   Pclass
male  2         108
Name: count, dtype: int64

5. Каковы медиана и среднеквадрати́чное отклонение платежей (Fare)? Округлите до 2 десятичных знаков.

In [ ]:
median_fare = round(passengers['Fare'].median(), 2)

# Вычисляем среднеквадратичное отклонение и округляем до 2 знаков
std_fare = round(passengers['Fare'].std(), 2)

print(f"Медиана: {median_fare}")
print(f"Среднеквадратичное отклонение: {std_fare}")

Медиана: 14.45
Среднеквадратичное отклонение: 49.69

6. Правда ли, что люди моложе 30 лет выживали чаще, чем люди старше 60 лет? Каковы доли выживших в обеих группах?

In [ ]:
# Фильтруем данные по возрастным группам
young_group = passengers[passengers['Age'] < 30]
old_group = passengers[passengers['Age'] > 60]

# Вычисляем долю выживших в каждой группе
young_survival_rate = young_group['Survived'].mean() * 100
old_survival_rate = old_group['Survived'].mean() * 100

print(f"Доля выживших среди людей младше 30 лет: {young_survival_rate}%")
print(f"Доля выживших среди людей старше 60 лет: {old_survival_rate}%")

# Сравниваем доли выживших
if young_survival_rate > old_survival_rate:
    print("Да, люди моложе 30 лет выживали чаще, чем люди старше 60 лет.")
else:
    print("Нет, люди моложе 30 лет не выживали чаще, чем люди старше 60 лет.")

Доля выживших среди людей младше 30 лет: 40.625%
Доля выживших среди людей старше 60 лет: 22.727272727272727%
Да, люди моложе 30 лет выживали чаще, чем люди старше 60 лет.

7. Правда ли, что женщины выживали чаще мужчин? Каковы доли выживших в обеих группах?

In [ ]:
# Группируем данные по полу и вычисляем долю выживших
survival_by_sex = passengers.groupby('Sex')['Survived'].mean()

# Вычисляем долю выживших в процентах с округлением
female_survival_rate = survival_by_sex['female'] * 100
male_survival_rate = survival_by_sex['male'] * 100

print(f"Доля выживших среди женщин: {female_survival_rate}%")
print(f"Доля выживших среди мужчин: {male_survival_rate}%")

# Сравниваем доли выживших
if female_survival_rate > male_survival_rate:
    print("Да, женщины выживали чаще, чем мужчины.")
else:
    print("Нет, женщины не выживали чаще, чем мужчины.")

Доля выживших среди женщин: 74.20382165605095%
Доля выживших среди мужчин: 18.890814558058924%
Да, женщины выживали чаще, чем мужчины.

8.  Найдите самое популярное имя среди пассажиров Титаника мужского пола?

In [ ]:
import re

men = passengers[passengers['Sex']=='male']['Name'].dropna()

def first_name(full):
    # взять часть после запятой, убрать обращение (до точки) и скобки, затем первое слово
    s = re.sub(r'$.*?$', '', full.split(',',1)[1])      # часть после фамилии, убрать скобки
    s = re.sub(r'^\s*\w+\.\s*', '', s)                   # убрать Title. (например "Mr.")
    return s.split()[0]

names = men.map(first_name)
print(names.value_counts().nlargest(1))

Name
William    35
Name: count, dtype: int64



9. Как отличается средний возраст мужчин / женщин в зависимости от класса обслуживания? Выберите верные утверждения:

    В среднем мужчины 1-го класса старше 40 лет
    В среднем женщины 1-го класса старше 40 лет
    Мужчины всех классов в среднем старше женщин того же класса
    В среднем люди в 1 классе старше, чем во 2-ом, а те старше представителей 3-го класса

In [ ]:
# Группируем данные по полу и классу, вычисляем средний возраст
age_by_sex_class = passengers.groupby(['Sex', 'Pclass'])['Age'].mean().round(2)

# Выводим результаты
print("Средний возраст пассажиров по полу и классу:")
print(age_by_sex_class)

# Проверяем утверждения
print("\nПроверка утверждений:")

# 1. В среднем мужчины 1-го класса старше 40 лет
male_1st_class_age = age_by_sex_class.loc[('male', 1)]
print(f"1. Мужчины 1-го класса в среднем {male_1st_class_age} лет - {'ДА' if male_1st_class_age > 40 else 'НЕТ'}")

# 2. В среднем женщины 1-го класса старше 40 лет
female_1st_class_age = age_by_sex_class.loc[('female', 1)]
print(f"2. Женщины 1-го класса в среднем {female_1st_class_age} лет - {'ДА' if female_1st_class_age > 40 else 'НЕТ'}")

# 3. Мужчины всех классов в среднем старше женщин того же класса
for pclass in [1, 2, 3]:
    male_age = age_by_sex_class.loc[('male', pclass)]
    female_age = age_by_sex_class.loc[('female', pclass)]
    print(f"3.{pclass} Мужчины {pclass}-го класса ({male_age} лет) {'старше' if male_age > female_age else 'младше'} женщин ({female_age} лет) - {'ДА' if male_age > female_age else 'НЕТ'}")

# 4. В среднем люди в 1 классе старше, чем во 2-ом, а те старше представителей 3-го класса
avg_age_by_class = passengers.groupby('Pclass')['Age'].mean().round(2)
print(f"4. Средний возраст по классам: 1-й - {avg_age_by_class[1]} лет, 2-й - {avg_age_by_class[2]} лет, 3-й - {avg_age_by_class[3]} лет")
print(f"   Утверждение: {'ДА' if avg_age_by_class[1] > avg_age_by_class[2] > avg_age_by_class[3] else 'НЕТ'}")

Средний возраст пассажиров по полу и классу:
Sex     Pclass
female  1         34.61
        2         28.72
        3         21.75
male    1         41.28
        2         30.74
        3         26.51
Name: Age, dtype: float64

Проверка утверждений:
1. Мужчины 1-го класса в среднем 41.28 лет - ДА
2. Женщины 1-го класса в среднем 34.61 лет - НЕТ
3.1 Мужчины 1-го класса (41.28 лет) старше женщин (34.61 лет) - ДА
3.2 Мужчины 2-го класса (30.74 лет) старше женщин (28.72 лет) - ДА
3.3 Мужчины 3-го класса (26.51 лет) старше женщин (21.75 лет) - ДА
4. Средний возраст по классам: 1-й - 38.23 лет, 2-й - 29.88 лет, 3-й - 25.14 лет
   Утверждение: ДА

10. Сравните возраст у спасенных и у погибших пасажиров. Средний возраст погибших выше, верно?

In [ ]:
# Группируем данные по выживаемости и вычисляем средний возраст
age_by_survival = passengers.groupby('Survived')['Age'].mean().round(2)

print("Средний возраст пассажиров по группам выживаемости:")
print(f"Погибшие: {age_by_survival[0]} лет")
print(f"Выжившие: {age_by_survival[1]} лет")

# Проверяем утверждение
if age_by_survival[0] > age_by_survival[1]:
    print("\nДа, средний возраст погибших выше, чем выживших.")
else:
    print("\nНет, средний возраст погибших не выше, чем выживших.")

Средний возраст пассажиров по группам выживаемости:
Погибшие: 30.63 лет
Выжившие: 28.34 лет

Да, средний возраст погибших выше, чем выживших.

### Дополнительные вопросы для защиты

1. Что такое медиана? Рассчитать медиану для предложенного ряда чисел.
2. Что такое дисперсия? Рассчитать дисперсию для предложенного ряда чисел.
3. Что такое среднеквадратичное отклонение? Рассчитать среднеквадратичное отклонение для предложенного ряда чисел.
4. Что такое Series и чем он отличается от DataFrame
5. Можно ли изменить индекс в Series после создания объекта?
6. Можно ли выполнить операцию сложения над двумя объектами Series, если они имеют:
- одинаковые типы данных, одинаковые размеры и одинаковые индексы?
- одинаковые типы данных, одинаковые размеры, но разные индексы?,  
- одинаковые типы данных, разные размеры и одинаковые индексы?
- разные типы данных, одинаковые размеры и одинаковые индексы?
- разные типы данных, одинаковые размеры и разные индексы?
- разные типы данных, разные размеры и разные индексы?
7. Что такое DataFrame и чем он отличается от Series
8. Что необходимо сделать, чтобы число строк в DateFrame при его просмотре, по умолчанию составляло 8?
9. Чем отличается метод iloc от метода loс
10. Можно ли добавить в DateFrame дополнительный Series?
11. Требуются ли установка дополнительных библиотек для загрузки с помощью pandas файлов в формате CSV? Excel (.xls)? Json?